<!--Nav-->
<mat-toolbar color="primary">
  <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Kaddem</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
      </button>
  </mat-menu>

</mat-toolbar>
<!--SideNav-->
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
          
          <mat-list-item>
              <mat-icon>assignment_turned_in</mat-icon>
              <a mat-button routerLink="/projets/gestion">Contrats</a>
          </mat-list-item>
      </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="app-view">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>